/* Font family inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
.swiper-button-prev,
.swiper-button-next {
  transition: 0.3s ease;
  visibility: hidden;
  opacity: 0;
  color: #293341;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: rgb(204, 42, 5);
}
.swiper-button-prev {
  margin-left: 20px;
  transform: translateX(15px);
}

.swiper-button-next {
  margin-right: 20px;
  transform: translateX(-15px);
}
.hero-swiper:hover .swiper-button-prev,
.hero-swiper:hover .swiper-button-next {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}
.swiper-pagination-bullet {
  transition: 0.4s ease-out;
}
.headroom--pinned {
  background-color: white;
  box-shadow: 1px 1px 8px 0 #e4e4e4;
}

/* back to top */

.w-back-to-up svg circle:nth-child(2) {
  fill: white;
  stroke: rgb(204, 42, 5);
}

@media screen and (min-width: 0) {
  .swiper-button-prev {
    margin-left: 10px;
  }

  .swiper-button-next {
    margin-right: 10px;
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 25px;
  }
}
